{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - CV Generator{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="glass-card">
            <h2 class="mb-4 text-center">{{ title }}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Enregistrer et Continuer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
